.postnl-btn {
    @apply flex justify-between p-5 border-2 border-postnl-gray-lighter rounded-lg cursor-pointer bg-white
    hover:border-postnl-orange-lighter text-postnl-gray-middle
}

.pickup-point-btn {
    @apply postnl-btn flex-col gap-2 !text-postnl-blue bg-white border-2 border-postnl-gray-lighter
    peer-checked:border-postnl-orange peer-checked:text-postnl-blue
    hover:bg-postnl-gray-light
}

.test{
    background: yellow;
}
.braintree-hosted-fields-focused {
    @apply border-blue-600 outline outline-2 outline-offset-2 outline-transparent ring ring-blue-800/50;
}

.braintree-hosted-fields-invalid {
    @apply ring-2 ring-red-500;
}

.braintree-hosted-fields-valid {
    @apply ring-2 ring-green-500;
}

#payment-method-option-braintree_applepay {
    @apply hidden;
}

#payment-method-option-braintree_applepay.braintree-applepay-visible {
    @apply block;
}

#payment-method-option-braintree_applepay.active {
    @apply block;
}

#braintree-credit iframe {
    @apply p-0;
}

#braintree-hosted-field-number {
    @apply focus:ring-0;
}

#braintreeAch input[type="number"]::-webkit-inner-spin-button,
#braintreeAch input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
